# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/button-nav/node_modules
/collapsible-nav/node_modules
/dialog-1/node_modules
/hamburger-full-screen-nav/node_modules
/mega-menu-nav/node_modules
/off-canvas-nav/node_modules
/slider-nav/node_modules

/collapsible-nav/.pnp
/dialog-1/.pnp
/hamburger-full-screen-nav/.pnp
/mega-menu-nav/.pnp
/off-canvas-nav/.pnp
/slider-nav/.pnp


/collapsible-nav/.pnp.js
/dialog-1/.pnp.js
/hamburger-full-screen-nav/.pnp.js
/mega-menu-nav/.pnp.js
/off-canvas-nav/.pnp.js
/slider-nav/.pnp.js


# production
/button-nav/build
/collapsible-nav/build
/dialog-1/build
/hamburger-full-screen-nav/build
/mega-menu-nav/build
/off-canvas-nav/build
/slider-nav/build

# misc
/button-nav/.DS_Store
/collapsible-nav/.DS_Store
/dialog-1/build
/hamburger-full-screen-nav/.DS_Store
/mega-menu-nav/.DS_Store
/off-canvas-nav/.DS_Store
/slider-nav/.DS_Store

/button-nav/.env.local
/collapsible-nav/.env.local
/dialog-1/.env.local
/hamburger-full-screen-nav/.env.local
/mega-menu-nav/.env.local
/off-canvas-nav/.env.local
/slider-nav/.env.local

/button-nav/.env.development.local
/collapsible-nav/.env.development.local
/dialog-1/.env.development.local
/hamburger-full-screen-nav/.env.development.local
/mega-menu-nav/.env.development.local
/off-canvas-nav/.env.development.local
/slider-nav/.env.development.local

/button-nav/.env.test.local
/collapsible-nav/.env.test.local
/dialog-1/.env.test.local
/hamburger-full-screen-nav/.env.test.local
/mega-menu-nav/.env.test.local
/off-canvas-nav/.env.test.local
/slider-nav/.env.test.local

/button-nav/.env.production.local
/collapsible-nav/.env.production.local
/dialog-1/.env.production.local
/hamburger-full-screen-nav/.env.production.local
/mega-menu-nav/.env.production.local
/off-canvas-nav/.env.production.local
/slider-nav/.env.production.local

/button-nav/npm-debug.log*
/collapsible-nav/npm-debug.log*
/dialog-1/npm-debug.log*
/hamburger-full-screen-nav/npm-debug.log*
/mega-menu-nav/npm-debug.log*
/off-canvas-nav/npm-debug.log*
/slider-nav/npm-debug.log*